In [368]:
import sys
sys.path.insert(1, "../recordlinkage")

from pandas import DataFrame, Series
import numpy as np

import standardise
reload(standardise)

import indexing
reload(indexing)

The next step is to load and standardise the data to deduplicate.

In [369]:
df = DataFrame([[2,2,3, 4], [2,2,3,4],[2,2,3,4], [2,10,3,4], [2,10,3,4]], index=[2,1,3,4,5])
df

   0   1  2  3
2  2   2  3  4
1  2   2  3  4
3  2   2  3  4
4  2  10  3  4
5  2  10  3  4

In [370]:
pairing = indexing.Pairs(df)
# pairing.full()
pairing.block([0,1])
# pairing.index(pairing._fullindex)

   0   1  2  3  dedupe_col  index_A
2  2   2  3  4           0        2
1  2   2  3  4           1        1
3  2   2  3  4           2        3
4  2  10  3  4           3        4
5  2  10  3  4           4        5
   0   1  2  3  dedupe_col  index_B
2  2   2  3  4           0        2
1  2   2  3  4           1        1
3  2   2  3  4           2        3
4  2  10  3  4           3        4
5  2  10  3  4           4        5

                 0   1  2_A  3_A  2_B  3_B
index_A index_B
2       1        2   2    3    4    3    4
        3        2   2    3    4    3    4
1       3        2   2    3    4    3    4
4       5        2  10    3    4    3    4

In [359]:
# for pairs in pairing.iterindex(pairing._blockindex, 2,2):
for pairs in pairing.iterindex(pairing._fullindex, 2,2):
    
    if not pairs.empty:
        print pairs

                 0_A  1_A  2_A  3_A  0_B  1_B  2_B  3_B
index_A index_B
2       1          2    2    3    4    2    2    3    4
                 0_A  1_A  2_A  3_A  0_B  1_B  2_B  3_B
index_A index_B
2       3          2    2    3    4    2    2    3    4
        4          2    2    3    4    2   10    3    4
1       3          2    2    3    4    2    2    3    4
        4          2    2    3    4    2   10    3    4
                 0_A  1_A  2_A  3_A  0_B  1_B  2_B  3_B
index_A index_B
2       5          2    2    3    4    2   10    3    4
1       5          2    2    3    4    2   10    3    4
                 0_A  1_A  2_A  3_A  0_B  1_B  2_B  3_B
index_A index_B
3       4          2    2    3    4    2   10    3    4
                 0_A  1_A  2_A  3_A  0_B  1_B  2_B  3_B
index_A index_B
3       5          2    2    3    4    2   10    3    4
4       5          2   10    3    4    2   10    3    4

In [360]:
print df_a
print pairing.A
print pairing.B

   0  1  2  3
2  1  2  3  4
1  2  2  3  4
3  3  2  3  4
4  4  2  3  4
5  5  2  3  4
   0   1  2  3
2  2   2  3  4
1  2   2  3  4
3  2   2  3  4
4  2  10  3  4
5  2  10  3  4

AttributeError: 'Pairs' object has no attribute 'B'