The following example shows how the record linkage module can be used to link two files with personal information. First import the Recordlinkage module and the Pandas module. The Recordlinkage module is build on the strong Pandas framework.

In [1]:
%cd -q ..

In [2]:
import pandas
import recordlinkage

from recordlinkage import datasets

After importing the record linkage and pandas module, it is time to import the datasets. In this case, we use two sample datasets with basic information about persons. Call the dataset dfA and dfB.

In [3]:
dfA = datasets.load_censusA()
dfB = datasets.load_censusB()

The first step is to make record pairs. Each pair contains one record of dataset dfA and one record of dataset dfB. The pairs contain the information of all columns in dfA and dfB.

In [4]:
pairing = recordlinkage.Pairs(dfA, dfB, suffixes=('_A', '_B'))

pairs = pairing.full()

Each record pair is compared on some attributes both record have in common.

In [5]:
comparing = recordlinkage.Compare(pairs)
comparing.exact(pairs['first_name_A'], pairs['first_name_B'], name='first_name')
comparing.exact(pairs['last_name_A'], pairs['last_name_B'], name='last_name')
comparing.exact(pairs['sex_A'], pairs['sex_B'], name='sex')
comparing.exact(pairs['birthdate_A'], pairs['birthdate_B'], name='birthdate')
comparing.exact(pairs['city_A'], pairs['city_B'], name='city')
comparing.exact(pairs['street_address_A'], pairs['street_address_B'], name='street_address')
comparing.exact(pairs['job_A'], pairs['job_B'], name='job')
comparing.exact(pairs['email_A'], pairs['email_B'], name='email')

comparing.comparison_vectors.sample(10)

,,first_name,last_name,sex,birthdate,city,street_address,job,email
index_A,index_B,,,,,,,,
1000101,1000182,0,0,1,0,0,0,0,0
1000500,1000536,0,0,1,0,0,0,0,0
1000273,1000148,0,0,1,0,0,0,0,0
1000651,1000706,0,0,0,0,0,0,0,0
1000742,1000366,0,0,1,0,0,0,0,0
1000870,1000502,0,0,1,0,0,0,0,0
1000246,1000472,0,0,1,0,0,0,0,0
1000164,1000104,0,1,0,0,0,0,0,0
1000194,1000887,0,0,0,0,0,0,0,0
1000543,1000872,0,0,0,0,0,0,0,0

In [ ]:
m = {
    'surname': {0:0.1, 1:0.9},
    'given_name': {0:0.1, 1:0.9},
    'suburb': {0:0.1, 1:0.9},
    'date_of_birth': {0:0.1, 1:0.9},
    'street_number': {0:0.1, 1:0.9}
    }

u = {
    'surname': {0:0.9, 1:0.1},
    'given_name': {0:0.9, 1:0.1},
    'suburb': {0:0.9, 1:0.1},
    'date_of_birth': {0:0.9, 1:0.1},
    'street_number': {0:0.9, 1:0.1}
    }

p = 0.1

fs = recordlinkage.FellegiSunterClassifier()

fs.ecm(
    comparison_vectors=comparing.comparison_vectors, 
    start_m=m, 
    start_u=u, 
    start_p=p,
    max_iter=20
)

fs.matches(comparing.comparison_vectors, w=10)